---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getLocaleFromPath, useI18n } from '~/i18n/utils'
import schedule from '~/data/schedule.json'
import Markdown from '~/components/Markdown.astro'
import { extractHHmm } from '~/utils/build/agenda/extractHHmm'
import { formatHHmm, formatMMdd } from '~/utils/datetime'
import { getLocalizedSpeakerName } from '~/utils/speaker'
import SessionBadges from './SessionBadges.astro'
import { getDefaultAvatar } from '~/utils/getDefaultAvatar'

const { t } = useI18n(Astro.url.pathname)
const locale = getLocaleFromPath(Astro.url.pathname)
const isZhTW = locale === 'zh-tw'

const { session } = Astro.props
const sessionTitle = isZhTW ? session.zh.title : session.en.title || session.zh.title
const sessionDescription = isZhTW ? session.zh.description : session.en.description || session.zh.description

const columnOrder = ['R0', 'R1', 'R2', 'R3', 'RH', 'end']

const speakers = session.speakers.map(speakerId => speakerIdToDetail(speakerId))
const startRow = parseInt(extractHHmm(session.start).replace(':', '')) || 0
const endRow = parseInt(extractHHmm(session.end).replace(':', '')) || 0
const [startCol, endCol] = getColumnStartEnd(session.broadcast || session.room)
const isRest = session.type === 'R'
const canClick = !isRest

const style = `grid-area: ${startRow} / ${startCol} / ${endRow} / ${endCol};`

function getColumnStartEnd(columns) {
  columns = columns.split(',')
  if (columns.length !== 1) {
    columns.sort((a, b) => columnOrder.indexOf(a) - columnOrder.indexOf(b))
  }
  const last = columnOrder.indexOf(columns.at(-1)) + 1
  return [columns[0], columnOrder[last]]
}

function speakerIdToDetail(speakerId) {
  return schedule.speakers.find(speaker => speaker.id === speakerId)
}

function getSpeakerName(speaker) {
  return getLocalizedSpeakerName(speaker, locale)
}
---

<div class:list={['session', canClick ? 'session-canClick' : '', 'm-3 flex flex-col transition-opacity']} style={style} data-id={session.id} data-room={session.broadcast || session.room}>
  <div
    class:list={[
      'relative z-10 shrink-0 grow rounded p-4 hover:z-20',
      isRest ? 'border-info-dark bg-info/20 text-info-dark z-10 border-2 border-dashed text-center' : 'bg-[#F3F3F3]',
      canClick ? 'cursor-pointer' : '',
    ]}
  >
    <div class="sticky" style="top: calc(var(--agenda-header-height) + 1rem);">
      <div class="font-bold">{sessionTitle}</div>
      <div class="flex flex-col items-stretch">
        {speakers.map(speaker => <div class="text-sm">{getSpeakerName(speaker)}</div>)}
      </div>

      {!isRest && <SessionBadges session={session} />}
    </div>
  </div>

  {
    canClick && (
      <div class="modal-content hidden">
        <div class="header">
          <h3 class="text-info-dark">{sessionTitle}</h3>
          <SessionBadges session={session} />
          <div class="mb-2">
            {formatMMdd(session.start)} {formatHHmm(session.start)} ~ {formatHHmm(session.end)} @ {session.broadcast || session.room}
          </div>
          <div class="flex gap-2">
            {session.qa && (
              <a href={session.qa} target="_blank" class="btn btn-info">
                {t('agenda.qa')}
              </a>
            )}
            {session.co_write && (
              <a href={session.co_write} target="_blank" class="btn btn-info">
                {t('agenda.note')}
              </a>
            )}
          </div>
        </div>

        <div class="body">
          <div class="mb-4 flex flex-col gap-4">
            {speakers.map(speaker => (
              <a href={`${getRelativeLocaleUrl(locale, 'speaker')}#${encodeURIComponent(speaker.id)}`} class="group flex items-center gap-4 text-inherit no-underline">
                <div class="grid aspect-square w-24 place-items-center overflow-hidden rounded-full bg-[#f1f5f9]">
                  <img class:list={[speaker.avatar ? 'h-full w-full' : 'w-[60%]']} src={speaker.avatar || getDefaultAvatar(getSpeakerName(speaker))} alt={getSpeakerName(speaker)} />
                </div>
                <span class="text-info-dark text-xl font-bold underline-offset-4 group-hover:underline">{getSpeakerName(speaker)}</span>
              </a>
            ))}
          </div>
          <Markdown content={sessionDescription} class="border-t border-neutral-300 py-4" />
        </div>
      </div>
    )
  }
</div>
