extend _layout.pug

block variables
  - title = "反客為主"

block head
  link(rel="stylesheet" href="assets/css/index.css")
block main
    #nav-transparent-flag(class="hidden")

    #top-block(class="w-full h-[calc(100vh-56px)] md:h-[calc(100vh-112px)] relative flex flex-col items-center bg-[rgb(252,245,241)] overflow-hidden pointer-events-none")
      div(class="relative z-2 mx-auto mb-6 grow w-4/5 md:w-1/2 max-w-xl h-fit flex flex-col items-center justify-center")
        img(class="w-1/2 md:w-1/3 mb-4 md:mb-6" src="assets/img/banner/g0v-summit-logo.svg" alt="g0v-summit-logo")
        img(class="mb-4 md:mb-8" src="assets/img/banner/slogan.svg" alt="g0v-summit-logo")
        img(class="w-4/5 md:w-1/2" src="assets/img/banner/date-and-venue.svg" alt="date-and-venue")
      div(class="relative z-1 -mb-12 w-[120%] grid grid-cols-3 md:grid-cols-5 items-end gap-16")
        img(class="stool hidden md:block w-2/3 mx-auto max-w-[220px]" src="assets/img/banner/g0v_stool-nbg-g-m.svg" alt="green-chair-1")
        img(class="stool md:w-2/3 mx-auto max-w-[220px]" src="assets/img/banner/g0v_stool-nbg-y-s.svg" alt="yellow-chair")
        img(class="stool md:w-2/3 mx-auto max-w-[220px]" src="assets/img/banner/g0v_stool-nbg-r-l.svg" alt="red-chair")
        img(class="stool md:w-2/3 mx-auto max-w-[220px]" src="assets/img/banner/g0v_stool-nbg-b-s.svg" alt="blue-chair")
        img(class="stool hidden md:block w-2/3 mx-auto max-w-[220px]" src="assets/img/banner/g0v_stool-nbg-g-m.svg" alt="green-chair-2")
      img(class="max-w-none md:max-w-full h-24 md:h-auto object-fit" src="assets/img/banner/bottom-bar.svg" alt="bottom-bar")

    div(class="container py-20")
      #intro(class="mb-20")
        h1(class="mb-6 md:mb-12 text-3xl md:text-4xl font-bold leading-relaxed" data-i18n="[html]index.t1") 
          | g0v Summit 2026
          br(class="md:hidden")
          |「反客為主的草繩幾何學！」

        div(data-i18n="[html]index.p1")
          p 草繩，來自土地，由最日常、最唾手可得的稻草，經由人力搓揉、拍打製成。它看似柔軟，卻能承重，是最早的工具之一，也是編織共同文化與命運的技藝。
          p: b 對 g0v Summit 2026 來說，這條「草繩」，也象徵著 g0v 十年黑客行動主義精神的具體展現：「不要問為何沒有人做這個，先承認你就是『沒有人』」。因為，「沒有人」是萬能的。
          p: b 不坐等、不依賴，我們「反客為主」，親自動手自造：
          p 在這裡，g0v Summit 2026 邀請你走進一個由草繩編織而成的立體公民座標。
          p 你和每一個參與者基於自身的技能、價值觀、立場，都是這空間中的一個「點」。
          p 當我們拋出手中的繩子，與他人對話，點就連成了「線」；
          p 當無數條線交織，我們便撐起了「面」——這是一張充滿動能的行動網絡，也是一張接住彼此的吊床。
          p: b 於是，原本孤立的節點形成了聚落，單線的對話演化成協作的生態系。
          p: b 從最初的「資訊透明、開放成果、開放協作」核心，演化成 g0v Summit 2026 由社群編織的「公民座標」，和三大座標軸線：（開放透明，自主隱私）、（思辨監督，韌性連結）、（政府體制，民間草根）。
          p 在這裡，沒有人是局外人，每個人都能找到屬於自己的座標，向內探索，向外連結。

      #timeline(class="mb-20")
        include ./components/timeline.pug

        div(class="flex flex-col md:flex-row md:items-center gap-4 md:gap-2 mb-12")
          div(class="max-md:text-center font-bold whitespace-nowrap text-lg md:text-2xl" data-i18n="[html]index.countdown")
            | 距離徵稿結束剩下 <span class="submission-deadline text-secondary"></span> 天
          div(class="h-4 w-full bg-neutral-200 rounded-full grow ml-2")
            div(class="submission-deadline-progress h-full bg-secondary rounded-full" style="width: 0%")

        div(class="text-center")
          a(href="https://forms.gle/u5YoP2gK5PVK9FUM8" target="_blank" class="btn btn-lg btn-primary" data-i18n="index.cta.submit") 前往投稿！

      #location(class="mb-20")
        h2(class="max-md:text-center text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t3") 地點
        p(class="md:text-2xl" data-i18n="[html]index.p2") 臺北市南港區研究院路二段128號中央研究院 人文社會科學館
        div(class="aspect-video")
          iframe.w-full.h-full(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1354.0143677658955!2d121.61029955043031!3d25.041381051702803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab46b3aaaaab%3A0x6ad0b8243ddc70ef!2z5Lit5aSu56CU56m26Zmi5Lq65paH56S-5pyD56eR5a246aSo!5e0!3m2!1szh-TW!2stw!4v1765449506756!5m2!1szh-TW!2stw' width='600' height='450' style='border:0;' allowfullscreen loading='lazy' referrerpolicy='no-referrer-when-downgrade')

      hr(class="text-neutral-300 mb-20")

      #what-is(class="mb-20")
        h2(class="max-md:text-center text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t4") 什麼是 g0v Summit？
        div(data-i18n="[html]index.p3")
          p 從 2012 年起，#[a(href="g0v.tw" target="_blank") g0v.tw] 台灣零時政府社群在「寫程式改造社會」的號召下，以#[b 「資訊透明、開放成果、開放協作」]為核心，透過「群眾草根」的力量關心公共事務，開啟了一場長達十餘年的公民黑客實踐。
          p: b 在 318 運動過後，更於 2014 年舉辦 g0v Summit （啥米）零時政府雙年會，促成開放社群、政府、NGO、學術圈、以及網路鄉民跨界交流。
          p 這十幾年間，台灣社會也經歷過無數民主危機、社會動盪與極化，各種「蛇咬」般的挫折與危機。
          p 面對臺灣社會的傷痕，來自此方與彼端的威脅，「十年」不僅是時間的刻度，更刻畫著公民社群持續的行動與實踐——是持續將恐懼轉化為韌性的過程。
          p 有人說，「一朝被蛇咬，十年怕草繩。」 但在 g0v Summit 2026，我們說#[b 「十年拍（phah）草繩」]，我們相信群眾草根的力量，彼此的連結，能夠持續將恐懼的「怕」，轉化為行動的「拍」（phah）。
          p 拍結（phah-kat，打結）不只是為了綁緊，更是為了學會鬆開——鬆動被動的姿態，鬆動依賴與恐懼，在危機與不確定的時代裡，重新練習「自救」與「互助」的肌肉。
          p 我們拒絕陷入「怕草繩」的被動與畏縮。相反地， g0v Summit 2026 希望邀請來到這裡的每個人，捲起袖子，伸手抓起那條草繩，重新搓揉、拍打。於是，我們分支、編織、連結，不斷幻化與創造，「草蛇」不再是讓人驚恐的幻影，而是強韌而有機的社群。

      #past-events(class="mb-20")
        h2(class="max-md:text-center text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t5") 歷年活動
        div(class="grid md:grid-cols-3 gap-4")
          mixin pastEvent(year)
            - var title = "g0v Summit " + year
            a(href="https://summit.g0v.tw/"+year target="_blank" title=title class="relative group border border-neutral-200")
              img(class="w-full" src=`assets/img/past_events/${year}.jpg` alt=title)
              div(class="absolute inset-0 bg-primary/80 opacity-0 group-hover:opacity-100 transition-all text-white font-bold flex items-center justify-center") 
                span.text-xl g0v Summit #[=year]
          +pastEvent("2024")
          +pastEvent("2020")
          +pastEvent("2018")
          +pastEvent("2016")
          +pastEvent("2014")

      #join(class="mb-20")
        h2(class="max-md:text-center text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t6") 參與 g0v
        div(class="mb-7" data-i18n="[html]index.p4")
          p g0v 是一個草根式的公民社群，致力於加深公民對社會的貢獻以及彼此間的連結。透過 g0v 社群，你可以在這裡尋找志同道合的夥伴，以草根的方式實踐你的理念，並將成果以開放授權模式釋出，讓更多的人可以站在你的成果上接力賽跑。
          p 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色，也代表數位原生世代從 0 與 1 世界的視野。 
        div(class="flex flex-col md:flex-row gap-4 justify-center md:justify-start")
          a(class="btn btn-primary gap-2" href="https://join.g0v.tw" target="_blank")
            span(data-i18n="index.cta.slack") g0v Slack
            iconify-icon(icon="material-symbols:open-in-new" width="20" height="20")
          a(class="btn btn-primary gap-2" href="https://g0v.hackmd.io/@summit2026/book/%2F%40summit2026%2Fintro" target="_blank")
            span(data-i18n="index.cta.docs") Summit 2026 籌備文件
            iconify-icon(icon="material-symbols:open-in-new" width="20" height="20")
          a(class="btn btn-primary gap-2" href="https://calendar.google.com/calendar/embed?src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&ctz=Asia%2FTaipei" target="_blank")
            span(data-i18n="index.cta.events") g0v 近期活動
            iconify-icon(icon="material-symbols:open-in-new" width="20" height="20")

      #sponsorship(class="mb-20 max-md:text-center")
        h2(class="max-md:text-center text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t7") 贊助資訊
        p(data-i18n="[html]index.p5") 
          |如果有贊助意願，請洽詢 
          a(href="mailto:sponsorship@summit.g0v.tw") sponsorship@summit.g0v.tw

      #partners(class="mb-20")
        h2(class="max-md:text-center text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t8") 合作夥伴
        div(class="grid lg:grid-cols-2 xl:grid-cols-3 gap-8")
          mixin partner(name, site, donate, key, img)
            div(class="flex gap-4 md:gap-8 p-6 border rounded-lg")
              div(class="w-28 h-28 aspect-square shrink-0 rounded-md overflow-hidden")
                img(class="w-full h-full object-contain bg-neutral-100" src="assets/img/partners/"+img)
              div(class="mt-3")
                h5(data-i18n=`index.partners.${key}.name`)= name
                div(class="flex gap-2 items-center")
                  if site
                    a(class="text-black hover:text-primary no-underline" href=site data-i18n="index.partners.site" target="_blank") 官方網站
                  if site && donate
                    span |
                  if donate
                    a(class="text-black hover:text-primary no-underline" href=donate data-i18n="index.partners.donate" target="_blank") 捐款贊助

          //- https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=86
          +partner("開放文化基金會", "https://ocf.tw", "", "1", "ocf.svg")
          +partner("中央研究院法律學研究所資訊法中心", "https://infolaw.iias.sinica.edu.tw", "", "2", "iias.svg")

block script
  script(src="assets/js/index.js?v="+timestamp)