extend _layout.pug

block variables
  - title = "反客為主"

block main
    #nav-transparent-flag(class="hidden")

    #top-block(class="w-full h-svh relative")
      img(class="absolute top-0 left-0 w-full h-full object-cover" src="assets/img/test.jpg" alt="")
      
      div(class="absolute text-white p-4 left-8 bottom-8 md:left-1/4 md:bottom-1/4 bg-primary/80")
        h2.mb-1(data-i18n="index.hero.title") Summit 2026
        h5.mb-1(data-i18n="index.hero.date") 2026.5
        h5.mb-1(data-i18n="index.hero.location") Taipei, Taiwan

    div(class="container py-20")
      #intro(class="mb-20")
        h1(class="mb-6 md:mb-12 text-3xl md:text-4xl font-bold" data-i18n="[html]index.t1") 
          |2026 g0v Summit 
          br(class="md:hidden")
          |「反客為主的草繩幾何學！」

        div(data-i18n="[html]index.p1")
          p 草繩，來自土地，由最日常、最唾手可得的稻草，經由人力搓揉、拍打製成。它看似柔軟，卻能承重，是先民最早的工具之一，也是編織共同文化與命運的技藝。
          p.mb-9: b 這條「草繩」，是 g0v 十年「嗨咖行動者」（High Agency）精神的具體展現：不坐等、不依賴，「反客為主」，親自動手自造。
          p.mb-9 #[b 十年拍（phah）草繩]，這條歷經十幾年拍打的草繩，分支、編織、連結，構成了 #[b g0v Summit 2026 的三大座標軸線：（開放透明，自主隱私）、（思辨監督，韌性連結）、（政府體制， 民間草根）]。
          p 在這裡，我們邀請你走進一個由草繩編織而成的立體空間。
          p 你和每一個參與者基於自身的立場與價值，都是這空間中的一個「點」——這就是#[b 拍結（phah-kat，打結）]。
          p.mb-9: b 拍結（phah-kat）不只是為了綁緊，更是為了學會鬆開——鬆動被動的姿態，鬆動依賴與恐懼，在危機與不確定的時代裡，重新練習「自救」與「互助」的肌肉。
          p 當我們拋出手中的繩子，與他人對話，點就連成了「線」；
          p 當無數條線交織，我們便撐起了「面」——這是一張溫柔接住彼此的吊床，也是一張充滿動能的行動網絡。
          p: b 在這張由社群編織的「公民座標」上，原本孤立的節點形成了聚落，單線的對話演化成協作的生態系。它既是防禦危機的社會安全網，也是讓公民創意得以彈跳的基地。

      #timeline(class="mb-20")
        h2(class="text-3xl md:text-4xl mb-12 font-bold" data-i18n="index.t2") 重要日程
        div(class="flex flex-wrap gap-8 mb-12 md:gap-x-4 md:gap-y-8 justify-center items-center")
          mixin timelineItem(text, date, i18nKey, showArrow=true)
            div(class="timeline-item flex flex-col items-center gap-1 self-start max-md:w-full" data-timeline-date=date)
              div(class="timeline-icon w-22 h-22 border rounded-full mb-3 flex")
              span(class="font-bold text-xl md:text-2xl text-neutral-400") #{date}
              h3(class="text-2xl md:text-3xl font-bold text-center" data-i18n="[html]index.dates."+i18nKey+".title") #{text}
            if showArrow
              div(class="hidden md:block")
                iconify-icon(icon="material-symbols:arrow-right-alt-rounded" width="44" height="44")
          
          +timelineItem("徵件開始", "2025/12/15", 1)
          +timelineItem("徵件截止", "2026/01/15 23:59 (UTC+8)", 2)
          +timelineItem("通知投稿結果", "2026/02/15", 3)
          +timelineItem("公告議程", "2026/03/15", 4)
          +timelineItem("g0v Summit 2026", "2026/05/23、05/24", 5, false)

        div(class="flex flex-col md:flex-row md:items-center gap-4 md:gap-2 mb-12")
          div(class="font-bold whitespace-nowrap text-lg md:text-2xl" data-i18n="[html]index.countdown")
            | 距離徵稿結束剩下 <span class="submission-deadline text-secondary"></span> 天
          div(class="h-4 w-full bg-neutral-200 rounded-full grow ml-2")
            div(class="submission-deadline-progress h-full bg-secondary rounded-full" style="width: 0%")

        div(class="text-center")
          button(class="btn btn-lg btn-primary" data-i18n="index.cta.submit") 前往投稿！

      #location(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t3") 地點
        p(class="md:text-2xl" data-i18n="[html]index.p2") 臺北市南港區研究院路二段128號中央研究院 人文社會科學館
        div(class="aspect-video")
          iframe.w-full(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1354.0143677658955!2d121.61029955043031!3d25.041381051702803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab46b3aaaaab%3A0x6ad0b8243ddc70ef!2z5Lit5aSu56CU56m26Zmi5Lq65paH56S-5pyD56eR5a246aSo!5e0!3m2!1szh-TW!2stw!4v1765449506756!5m2!1szh-TW!2stw' width='600' height='450' style='border:0;' allowfullscreen loading='lazy' referrerpolicy='no-referrer-when-downgrade')

      hr(class="text-neutral-300 mb-20")

      #what-is(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t4") 什麼是 g0v Summit？
        div(data-i18n="[html]index.p3")
          p 自 2012 年起，g0v.tw 台灣零時政府社群在「寫程式改造社會」的號召下，開啟了一場長達十餘年的公民黑客實踐。
          p.mb-9: b 我們以開放、透明、協作為核心，從 2014 年首屆「g0v 啥米」（Summit）至今，搭建了一座讓開放社群、政府、學界與公民跨界交流的橋樑。
          p.mb-9 期間，我們也經歷過無數社會挑戰、政治動盪，甚至各種「蛇咬」般的挫折與危機。
          p 有人告訴我們，「一朝被蛇咬，十年怕草繩。」 但在這裡，我們將恐懼的「怕」，轉化為行動的「拍」（phah）
          p 面對臺灣社會的傷痕，來自此方與彼端的威脅，我們拒絕陷入「怕草繩」的被動與畏縮。相反地，我們選擇捲起袖子，伸手抓起那條草繩，重新搓揉、拍打。
          p.mb-9 十多年過去，g0v 從最初的游擊式黑客松，長成了蓬勃的公民社群。
          p 「十年」，不僅是時間的刻度，更是一種持續的行動與實踐——是將恐懼轉化為韌性的過程。
          p 歷經十年拍打的草繩，不再是讓人驚恐的幻影，而是強韌而靈活的實體，它分支、編織、連結，不斷幻化與創造。

      #past-events(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t5") 歷年活動
        div(class="grid md:grid-cols-3 gap-4")
          mixin pastEvent(year)
            - var title = "g0v Summit " + year
            a(href="https://summit.g0v.tw/"+year target="_blank" title=title class="hover:-translate-y-1 transition-all overflow-hidden border border-neutral-200")
              img(class="w-full" src="assets/img/past_events/"+year+".jpg" alt=title)
          +pastEvent("2024")
          +pastEvent("2020")
          +pastEvent("2018")
          +pastEvent("2016")
          +pastEvent("2014")

      #join(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t6") 參與 g0v
        div(class="mb-7" data-i18n="[html]index.p4")
          p g0v 是一個草根式的公民社群，致力於加深公民對社會的貢獻以及彼此間的連結。透過 g0v 社群，你可以在這裡尋找志同道合的夥伴，以草根的方式實踐你的理念，並將成果以開放授權模式釋出，讓更多的人可以站在你的成果上接力賽跑。 
          p 將 gov 以「零」替代成為 g0v，從零重新思考政府的角色，也代表數位原生世代從 0 與 1 世界的視野。 
        div(class="flex flex-col md:flex-row gap-4 justify-center md:justify-start")
          a(class="btn btn-primary gap-2" href="https://join.g0v.tw" target="_blank")
            span(data-i18n="index.cta.slack") g0v Slack
            iconify-icon(icon="material-symbols:open-in-new" width="20" height="20")
          a(class="btn btn-primary gap-2" href="https://g0v.hackmd.io/@summit2026/book/%2F%40summit2026%2Fintro" target="_blank")
            span(data-i18n="index.cta.docs") summit 2026 籌備文件
            iconify-icon(icon="material-symbols:open-in-new" width="20" height="20")
          a(class="btn btn-primary gap-2" href="https://calendar.google.com/calendar/embed?src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&ctz=Asia%2FTaipei" target="_blank")
            span(data-i18n="index.cta.events") g0v 近期活動
            iconify-icon(icon="material-symbols:open-in-new" width="20" height="20")

      #sponsorship(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t7") 贊助資訊
        p(data-i18n="[html]index.p5") 
          |如果有贊助意願，請洽詢 
          a(href="mailto:sponsorship@summit.g0v.tw") sponsorship@summit.g0v.tw

      #partners(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="index.t8") 合作夥伴
        div(class="grid lg:grid-cols-2 gap-6")
          mixin partner(name, site, donate, key, img)
            div(class="flex gap-8 p-6 border rounded-lg")
              div(class="w-28 h-28 aspect-square shrink-0 rounded-md overflow-hidden")
                img(class="w-full h-full object-contain bg-neutral-100" src="assets/img/partners/"+img)
              div(class="mt-3")
                h5(data-i18n="index.partners."+key+".name")= name
                div(class="flex gap-2 items-center")
                  if site
                    a(class="text-black hover:text-primary no-underline" href=site data-i18n="index.partners.site" target="_blank") 官方網站
                  if site && donate
                    span |
                  if donate
                    a(class="text-black hover:text-primary no-underline" href=donate data-i18n="index.partners.donate" target="_blank") 捐款贊助

          +partner("開放文化基金會", "https://ocf.tw", "https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=86", "1", "ocf.svg")
          +partner("中央研究院法律學研究所資訊法中心", "https://infolaw.iias.sinica.edu.tw", "", "2", "iias.jpg")

block script
  script(src="assets/js/index.js?v="+timestamp)