extend ../_layout.pug

block variables
  - title = "徵稿辦法"

block main
    div(class="container pt-14 md:pt-28")
      div(class="my-20")
        div(class="flex flex-col md:flex-row md:items-center gap-4 md:gap-2 mb-12")
          div(class="max-md:text-center font-bold whitespace-nowrap text-lg md:text-2xl" data-i18n="[html]index.countdown")
            | 距離徵稿結束剩下 <span class="submission-deadline text-secondary"></span> 天
          div(class="h-4 w-full bg-neutral-200 rounded-full grow ml-2")
            div(class="submission-deadline-progress h-full bg-secondary rounded-full" style="width: 0%")
        button(class="btn btn-lg btn-primary" data-i18n="index.cta.submit") 前往投稿！

      #intro(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-12" data-i18n="guidelines.t1") 投稿方法
        div(data-i18n="[html]guidelines.p1")
          p g0v 雙年會 2026 議程由大會進行線上公開徵集，您僅可透過大會指定之線上 Google 表單進行投稿。
          p 投稿將於 2026 年 1 月 15 日 23:59 (UTC+8) 截止，截止日期之前送出的投稿都可以持續用 Google 表單修改，投稿截止後，g0v 雙年會 2026 將會選出本屆議程、與投稿者一一確認，您的稿件確認錄取後，將摒除隱私資訊及（除暱稱外之）個人資料，預計於三月底陸續公開顯示在 g0v 雙年會 2026 網頁上。

      #keypoints(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-12" data-i18n="guidelines.t2") 徵稿方向：公民大舞廳，邀請你一起來拍拍（phah-phik）！
        div(data-i18n="[html]guidelines.p2")
          p 「拍」（phah）不只是製造的動作，更是一種「節拍」。
          p.mb-9 這十年的節拍，將 g0v Summit 2026 變成了一座盛大的「公民大舞廳」。
          p 在 g0v Summit 2026，我們邀請你走進這個 **（開放透明，自主隱私），（思辨監督，韌性連結）或是（政府體制，民間草根）** 三大座標軸線所交織而成的 3D 「公民大舞廳」。
          p.mb-9 在這裡，沒有人是局外人，每個人都能依據自己的立場和技能，找到屬於自己的座標。
          p: b 無論你關注、實踐的是（開放透明，自主隱私），（思辨監督，韌性連結）或是（政府體制， 民間草根），都歡迎你投稿：
        ul(class="leading-8 text-lg my-4")
          li(data-i18n="guidelines.axes.x") #[b X 軸（價值）]：你追求公共的#[b 透明與開放]，還是個人的#[b 自主與隱私]？
          li(data-i18n="guidelines.axes.y") #[b Y 軸（行動）]：你擅長向上的#[b 思辨與查證]，還是向下的#[b 韌性與療癒]？
          li(data-i18n="guidelines.axes.z") #[b Z 軸（場域）]：你是在體制內的#[b 政府與組織]，還是在去中心化的#[b 民間與草根]？
        p(data-i18n="[html]guidelines.p3") 
          |無論你的座標在哪裡——
          br
          |音樂一下——「催落去」！帶著你的繩結，牽起你的線，
          br
          |毋通徛佇遐，著愛綴著節拍，徛好跤步。
          br
          |佇這個「舞池」頂面，跳出咱家己的「氣口」！
          br
        p: b 歡迎你，加入這場盛大的 phah-ty！


      #timeline(class="mb-20")
        h2(class="max-md:text-center text-3xl md:text-4xl mb-12 font-bold" data-i18n="index.t2") 重要日程
        div(class="flex flex-wrap gap-8 mb-12 md:gap-x-3 justify-center items-center")
          mixin timelineItem(text, date, i18nKey, showArrow=true)
            div(class="timeline-item flex flex-col items-center gap-1 self-start max-md:w-full" data-timeline-date=date)
              div(class="timeline-icon w-22 h-22 border rounded-full flex")
              span(class="font-bold text-xl md:text-2xl text-neutral-400")!= date
              h3(class="text-2xl md:text-3xl font-bold text-center max-w-48" data-i18n=`[html]index.dates.${i18nKey}.title`)= text
            if showArrow
              div(class="hidden md:block")
                iconify-icon(icon="material-symbols:arrow-right-alt-rounded" width="44" height="44")
          
          +timelineItem("徵件開始", "<ruby>2025/12/15<rt>&nbsp;</rt></ruby>", 1)
          +timelineItem("徵件截止", "2026/01/15<ruby> 23:59<rt>(UTC+8)</rt></ruby>", 2)
          +timelineItem("通知投稿結果", "<ruby>2026/02/15<rt>&nbsp;</rt></ruby>", 3)
          +timelineItem("公告議程", "<ruby>2026/03/15<rt>&nbsp;</rt></ruby>", 4)
          +timelineItem("g0v Summit 2026", "<ruby>2026/05/23-24<rt>&nbsp;</rt></ruby>", 5, false)

      div(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-12" data-i18n="guidelines.t4") 議程形式分類
        div(class="grid md:grid-cols-[300px_auto] lg:grid-cols-[348px_auto] gap-6 md:gap-8")
          div(class="relative md:hidden")
            iconify-icon(class="w-9 h-9 absolute top-0 bottom-0 m-auto right-3 md:right-5" icon="material-symbols:arrow-drop-down-rounded" width="36" height="36")
            select(id="agenda-select" class="appearance-none w-full py-3 md:py-5 px-8 border rounded-xl outline-0")
              option(value="#agenda-box1" data-i18n="guidelines.formats.1.title") 演講
              option(value="#agenda-box2" data-i18n="guidelines.formats.2.title") 主題論壇
              option(value="#agenda-box3" data-i18n="guidelines.formats.3.title") 工作坊
              option(value="#agenda-box4" data-i18n="guidelines.formats.4.title") 圓桌會議
          div(class="hidden md:grid gap-6")
            button(class="agenda-tab flex flex-col py-3 md:py-5 px-8 text-left border border-neutral-300 rounded-xl hover:border-neutral-600 transition-colors border-neutral-600" data-target="#agenda-box1") 
              span(class="text-xl md:text-2xl font-bold" data-i18n="guidelines.formats.1.title") 演講
              span(class="text-lg md:text-xl font-bold text-neutral-400" data-i18n="guidelines.formats.1.subtitle") Talk
            button(class="agenda-tab flex flex-col py-3 md:py-5 px-8 text-left border border-neutral-300 rounded-xl hover:border-neutral-600 transition-colors" data-target="#agenda-box2") 
              span(class="text-xl md:text-2xl font-bold" data-i18n="guidelines.formats.2.title") 主題論壇
              span(class="text-lg md:text-xl font-bold text-neutral-400" data-i18n="guidelines.formats.2.subtitle") Panel Discussion
            button(class="agenda-tab flex flex-col py-3 md:py-5 px-8 text-left border border-neutral-300 rounded-xl hover:border-neutral-600 transition-colors" data-target="#agenda-box3") 
              span(class="text-xl md:text-2xl font-bold" data-i18n="guidelines.formats.3.title") 工作坊
              span(class="text-lg md:text-xl font-bold text-neutral-400" data-i18n="guidelines.formats.3.subtitle") Workshop
            button(class="agenda-tab flex flex-col py-3 md:py-5 px-8 text-left border border-neutral-300 rounded-xl hover:border-neutral-600 transition-colors" data-target="#agenda-box4") 
              span(class="text-xl md:text-2xl font-bold" data-i18n="guidelines.formats.4.title") 圓桌會議
              span(class="text-lg md:text-xl font-bold text-neutral-400" data-i18n="guidelines.formats.4.subtitle") Roundtable Discussion
          div(class="border border-neutral-600 rounded-xl p-6 md:max-h-[632px] overflow-auto flex flex-col")
            div(id="agenda-box1" class="agenda-box text-lg" style="display: none" data-i18n="guidelines.formats.1.desc")
              | 20 分鐘，1-2 位講者。
            div(id="agenda-box2" class="agenda-box text-lg" style="display: none" data-i18n="guidelines.formats.2.desc")
              | 可選擇 60、90 或 120 分鐘，自行籌組講者群，人數不限，其中 1 位可指定為主持人，同時在台上圍繞特定議題對話。
            div(id="agenda-box3" class="agenda-box text-lg" style="display: none" data-i18n="guidelines.formats.3.desc")
              | 可選擇 60、90 或 120 分鐘，由 1-5 人主持團隊帶領會眾進行互動式小組討論、動手做等形式的議程。通常會分組進行，讓每組針對子題或任務討論，最後再集中分享成果或觀察。
            div(id="agenda-box4" class="agenda-box text-lg" style="display: none" data-i18n="guidelines.formats.4.desc")
              | 可選擇 60、90 或 120 分鐘，由 1-3 人主持團隊引導，與自由參與的會眾共同討論。全程採「單一討論場域」形式，所有人圍繞同一議題進行對話與思辨，一次僅一人發言，鼓勵現場即時提問與互動回應。此形式強調公共思考、觀點碰撞與集體討論的流動性。
            #ref-agenda(class="mt-auto pt-6")
              h4(data-i18n="guidelines.ref.title") 參考形式：
              hr.mt-3.mb-4.border-neutral-600
              div(class="flex flex-wrap gap-4")
                mixin refAgenda(year)
                  a(href=`https://summit.g0v.tw/${year}/agenda/` target="_blank" class="flex gap-4 items-center w-full max-w-44 bg-neutral-200 hover:bg-neutral-300 transition-colors p-3 rounded-lg font-bold text-black no-underline")
                    div g0v Summit #[=year] <span data-i18n="guidelines.ref.agenda">議程</span>
                    iconify-icon(icon='material-symbols:arrow-outward' width='24' height='24')
                +refAgenda(2024)
                +refAgenda(2020)
                +refAgenda(2018)


      div(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-12" data-i18n="guidelines.t5") 評選標準
        p(data-i18n="guidelines.p5") g0v Summit 2026 會優先選擇具專案成果、專案影響力、知識分享性質的投稿。我們注重台灣、東南亞、東亞的在地特性，並且努力達成性別、地域均衡。

      div(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-12" data-i18n="guidelines.t6") 個資聲明
        p(data-i18n="guidelines.p6") g0v Summit 2026 個人資料蒐集、處理及利用同意書
        p(data-i18n="guidelines.p7") 為遵守「個人資料保護法」規定，並保障當事人之權利，謹依法告知下列事項：
        p(data-i18n="guidelines.p8") 1. 機關單位名稱：g0v Summit 2026 工作小組
        p(data-i18n="guidelines.p9") 2. 蒐集之特定目的：g0v Summit 活動籌備使用
        p(data-i18n="guidelines.p10") 3. 個人資料之項目：參考上述投稿方法之內容
        p(data-i18n="guidelines.p11") 4. 個人資料利用之期間、地區、對象及方式：
        div(class="pl-6 mb-3")
          p(data-i18n="guidelines.p12") a. 期間: g0v Summit 2026 及未來 g0v Summit 籌備期間 （籌備時間認定為該屆總召確認當日起，至活動結束後 30 天內）
          p(data-i18n="guidelines.p13") b. 地區：台灣
          p(data-i18n="guidelines.p14") c. 對象：於 g0v Summit 2026 網頁提案者
          p(data-i18n="guidelines.p15") d. 方式：蒐集、處理、利用
        p(data-i18n="guidelines.p16") 5. 依個人資料保護法第 3 條規定，當事人可行使以下權利：
        div(class="pl-6 mb-3")
          p(data-i18n="guidelines.p17") a. 查詢或請求閱覽。
          p(data-i18n="guidelines.p18") b. 請求製給複製本。
          p(data-i18n="guidelines.p19") c. 請求補充或更正。
          p(data-i18n="guidelines.p20") d. 請求停止蒐集、處理及利用。
          p(data-i18n="guidelines.p21") e. 請求刪除。
        p(data-i18n="guidelines.p22") 6. 依個人資料保護法第 14 條規定，當事人查詢或請求閱覽個人資料或製給複製本。
        p(data-i18n="guidelines.p23") 7. 若遇行使第 5 及 6 條權利，請寫信至 programming@summit.g0v.tw ，本團隊將依法進行回覆。

      div(class="mb-20")
        mixin faq(qText, aText, i18nKey)
          div(class="rounded-md overflow-hidden")
            button(class="faq-btn flex items-center gap-2 w-full text-left bg-primary text-white text-xl px-4 py-2" data-target="#faq-content"+i18nKey) 
              span(class="mr-auto" data-i18n="guidelines.faq.q"+i18nKey)= qText
              iconify-icon(class="w-9 h-9 in-[.active]:-rotate-180 transition-transform duration-300" icon="material-symbols:arrow-drop-down-rounded" width="36" height="36")
            div(id="faq-content"+i18nKey class="hidden bg-[#d3ebdf] p-4" data-i18n="[html]guidelines.faq.a"+i18nKey)!= aText
              
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="guidelines.t7") FAQ
        h3(class="text-xl md:text-2xl font-bold mb-6" data-i18n="guidelines.faq.section1") 投稿相關

        div(class="grid gap-6")
          +faq("1. 結果何時公佈？入選與未入選都會收到通知嗎？", "我們將在二月底以 email 通知入選或未入選的投稿者，三月底公布最後確認之議程。", "1")
          +faq("2. 投稿後，是否還可以修改投稿內容？", "可以。g0v Summit 2026 採 Google 表單投稿。投稿者投稿後，在 1/31 表單關閉之前，用同一帳號檢視都可以重複修改內容。", "2")
          +faq("3. 一個人可以參與多個稿件嗎？", "可以。議程委員會依講者多元性、稿件內容等條件綜合評量。", "3")
          +faq("4. 我因有特殊考慮，不希望被錄影、錄音、拍照、直播，或任何形式的記錄，這樣適合投稿嗎？", "可以。投稿系統上將有此欄位供投稿者勾選。", "4")

        h3(class="text-xl md:text-2xl font-bold mb-6 mt-8" data-i18n="[html]guidelines.faq.section2") 議程需求
        div(class="grid gap-6")
          +faq("1. 我的議程將以非華語進行，大會是否能提供翻譯協助？", "所有會議室都有 AI 即時轉錄字幕（華語 to 英文、英語 to 華語）", "5")
          +faq("2. 我的議程有需要特殊協助（例如手語、無障礙空間等等），大會是否可以協助安排？", "請於投稿時備註需求，大會將在考量場地與成本限制之餘，將儘可能協助安排。", "6")
          +faq("3. 會議場地有提供什麼器材？", `
          各場地均備有基礎會議設備，包括投影機、麥克風、直播等設備。現場會開放共筆供每個現場、線上、會前、會後的參與者紀錄。都會開 <a href="https://www.slido.com/" target="_blank">sli.do</a> 的即時提問系統，方便主持人或講者快速查閱提問。原則上現場各處都找得到 110V 供電插頭。若有特殊需求，請於提案時備註。
          `, "7")

        h3(class="text-xl md:text-2xl font-bold mb-6 mt-8" data-i18n="guidelines.faq.section3") 交通、住宿相關
        div(class="grid gap-6")
          +faq("1. 我不住在台北，大會是否會協助講者安排住宿與交通？或是提供補助？", "很抱歉，此次大會並不提供任何住宿與交通協助。", "8")
          +faq("2. 我是外國人，大會是否會協助我辦理簽證與入境相關文件？", `
          我們將會在通知入選時一併寄送邀請函，供簽證及入境申請使用。<br>
          其它簽證辦理相關問題，請參考外交部領事事務局網站並洽詢台灣駐各地辦事處。<br>
          若有需要主辦單位提供任何文件，請與我們聯繫 <a href="mailto:programming@summit.g0v.tw">programming@summit.g0v.tw</a>。
          `, "9")
      
      div(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="guidelines.t8") 聯絡資訊
        p(data-i18n="[html]guidelines.p24") 有任何投稿相關問題歡迎來信 <a href="mailto:programming@summit.g0v.tw">programming@summit.g0v.tw</a>。

      div(class="mb-20")
        h2(class="text-3xl md:text-4xl font-bold mb-8" data-i18n="guidelines.t9") 前往投稿！
        div
          a( href="" class="btn btn-lg btn-primary" data-i18n="guidelines.cta.form2") 投稿表單


block script
  script(src="assets/js/guidelines.js?v="+timestamp)