---
const { booth } = Astro.props
import { getLocaleFromPath, useI18n } from '~/i18n/utils'
import Icon from './Icon.astro'
const { t } = useI18n(Astro.url.pathname)
const locale = getLocaleFromPath(Astro.url.pathname)

const getBoothType = (type: string) => {
  if (type === '贊助攤位') return 'venue.sponsor_booth'
  else return 'venue.community_booth'
}
---

<div class="booth-card tranition-all flex h-fit cursor-pointer gap-2 rounded-lg group" data-booth={booth.id}>
  <img src={booth.image || `./img/booth/${booth.name_en}.png`} alt={booth.name} class="h-16 w-16 rounded-md bg-neutral-100 object-contain p-2 group-hover:p-1 transition-all duration-300 shrink-0" />
  <div class="p-1 group-hover:ps-2 transition-all duration-300">
    <h5 class="text-pretty">{locale === 'en' ? booth.name_en : booth.name}</h5>
    <p class="m-0 text-sm text-neutral-500">{t(getBoothType(booth.type))} {booth.floor} #{booth.id}</p>
  </div>
  <div class="modal-content hidden">
    <div class="body">
      <div class="flex gap-8">
        <div>
          <div class="mb-8 flex items-center">
            <div>
              <h3 class="mb-4">{locale === 'en' ? booth.name_en : booth.name}</h3>
              <div class="text-neutral-500">{t(getBoothType(booth.type))} {booth.floor} #{booth.id}</div>
            </div>
            <img src={booth.image || `./img/booth/${booth.name_en}.png`} alt={booth.name} class="ms-auto h-24 w-24 rounded-lg bg-neutral-100 object-contain p-2 md:hidden shrink-0" />
          </div>
          <div set:html={(locale === 'en' ? booth.description_en : booth.description).split(/\n/).map((line) => `<p>${line}</p>`).join('')}></div>
        </div>
        <img src={booth.image || `./img/booth/${booth.name_en}.png`} alt={booth.name} class="hidden h-48 w-48 rounded-lg bg-neutral-100 object-contain p-2 md:block shrink-0" />
      </div>
      {
        booth.link && (
          <div class="my-8">
            <a href={booth.link} title={booth.name} target="_blank" rel="noopener noreferrer" class="btn btn-primary inline-flex items-center gap-1">
              {t('venue.website')}
              <Icon name="mdi:external-link" width={20} height={20} />
            </a>
          </div>
        )
      }
    </div>
  </div>
</div>
