---
import { useI18n } from '~/i18n/utils'

const { name, site, donate, img } = Astro.props
const { t } = useI18n(Astro.url.pathname)
---

<div class="flex gap-4 rounded-lg border p-6 md:gap-8">
  <div class="grid aspect-square h-28 w-28 shrink-0 place-items-center overflow-hidden rounded-md">
    <img class="h-full w-full bg-neutral-100 object-contain" src={`./img/partners/${img}`} alt={name} />
  </div>
  <div class="mt-3">
    <h5>{name}</h5>
    <div class="flex items-center gap-2">
      {
        site && (
          <a class="hover:text-primary text-black no-underline" href={site} target="_blank">
            {t('index.partners.site')}
          </a>
        )
      }
      {site && donate && <span>|</span>}
      {
        donate && (
          <a class="hover:text-primary text-black no-underline" href={donate} target="_blank">
            {t('index.partners.donate')}
          </a>
        )
      }
    </div>
  </div>
</div>
