---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getLocaleFromPath } from '~/i18n/utils'
import schedule from '~/data/schedule.json'
import { extractHHmm } from '~/utils/build/agenda/extractHHmm'
import Session from '~/components/agenda/Session.astro'
import DayLink from '~/components/agenda/DayLink.astro'

const locale = getLocaleFromPath(Astro.url.pathname)
const { title, date } = Astro.props

const sessions = schedule.sessions.filter(session => session.start.startsWith(date))

const allSessions = sessions.reduce((acc, session) => {
  const key = extractHHmm(session.start)
  if (!acc[key]) acc[key] = []
  acc[key].push(session)
  return acc
}, {})
const allTimes = Object.keys(allSessions).sort((a, b) => a.localeCompare(b))

const r0Sessions = sessions
  .filter(session => session.room === 'R0' || session.broadcast.includes('R0'))
  .reduce((acc, session) => {
    const key = extractHHmm(session.start)
    if (!acc[key]) acc[key] = []
    acc[key].push(session)
    return acc
  }, {})
const r0Times = Object.keys(r0Sessions).sort((a, b) => a.localeCompare(b))

const r1Sessions = sessions
  .filter(session => session.room === 'R1' || session.broadcast.includes('R1'))
  .reduce((acc, session) => {
    const key = extractHHmm(session.start)
    if (!acc[key]) acc[key] = []
    acc[key].push(session)
    return acc
  }, {})
const r1Times = Object.keys(r1Sessions).sort((a, b) => a.localeCompare(b))

const r2Sessions = sessions
  .filter(session => session.room === 'R2' || session.broadcast.includes('R2'))
  .reduce((acc, session) => {
    const key = extractHHmm(session.start)
    if (!acc[key]) acc[key] = []
    acc[key].push(session)
    return acc
  }, {})
const r2Times = Object.keys(r2Sessions).sort((a, b) => a.localeCompare(b))

const rhSessions = sessions
  .filter(session => session.room === 'RH' || session.broadcast.includes('RH'))
  .reduce((acc, session) => {
    const key = extractHHmm(session.start)
    if (!acc[key]) acc[key] = []
    acc[key].push(session)
    return acc
  }, {})
const rhTimes = Object.keys(rhSessions).sort((a, b) => a.localeCompare(b))
---

<div class="lg:hidden">
  <div class="sticky top-0 z-30 bg-white py-2">
    <div class="container">
      <div class="mb-4 flex gap-4 font-bold justify-center">
        <DayLink href={getRelativeLocaleUrl(locale, 'agenda/day1')} title="Day 1" curTitle={title} />
        <DayLink href={getRelativeLocaleUrl(locale, 'agenda/day2')} title="Day 2" curTitle={title} />
      </div>
      <div id="btns" class="grid grid-cols-5 text-center">
        <button data-target="#allSessions" class="border-info-dark border-b-2 transition-colors">ALL</button>
        <button data-target="#r0Sessions" class="border-b-2 border-transparent transition-colors">R0</button>
        <button data-target="#r1Sessions" class="border-b-2 border-transparent transition-colors">R1</button>
        <button data-target="#r2Sessions" class="border-b-2 border-transparent transition-colors">R2</button>
        <button data-target="#rhSessions" class="border-b-2 border-transparent transition-colors">RH</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="sessions" class="mt-6">
      <div id="allSessions">
        {
          allTimes.map(time => (
            <div>
              <div>{time}</div>
              {allSessions[time].map(session => (
                <Session session={session} />
              ))}
            </div>
          ))
        }
      </div>

      <div id="r0Sessions" style="display: none;">
        {
          r0Times.map(time => (
            <div>
              <div>{time}</div>
              {r0Sessions[time].map(session => (
                <Session session={session} />
              ))}
            </div>
          ))
        }
      </div>

      <div id="r1Sessions" style="display: none;">
        {
          r1Times.map(time => (
            <div>
              <div>{time}</div>
              {r1Sessions[time].map(session => (
                <Session session={session} />
              ))}
            </div>
          ))
        }
      </div>

      <div id="r2Sessions" style="display: none;">
        {
          r2Times.map(time => (
            <div>
              <div>{time}</div>
              {r2Sessions[time].map(session => (
                <Session session={session} />
              ))}
            </div>
          ))
        }
      </div>

      <div id="rhSessions" style="display: none;">
        {
          rhTimes.map(time => (
            <div>
              <div>{time}</div>
              {rhSessions[time].map(session => (
                <Session session={session} />
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<script>
  import $ from 'jquery'

  const $btnsChildren = $('#btns button')
  const $sessionsChildren = $('#sessions > div')

  $('#btns').on('click', 'button', function () {
    hideAll()
    $(this).removeClass('border-transparent').addClass('border-info-dark')
    $($(this).data('target')).css('display', '')
  })

  function hideAll() {
    $btnsChildren.each(function () {
      $(this).removeClass('border-info-dark').addClass('border-transparent')
    })
    $sessionsChildren.each(function () {
      $(this).css('display', 'none').removeClass('border-info-dark')
    })
  }
</script>
